* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #333333;
    margin-left: 81px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.header {
    width: 100%;
    height: 80px;
    background: #f5f5f5;
    display: flex;
    position: fixed;
    top: 0;
    /*zindex*/
}

.icon__menu {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon__menu i {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.menu__side {
    width: 80px;
    height: 100%;
    background-color: #1783db;
    position: fixed;
    top: 0;
    left: 0;
    color: aliceblue;
    font-size: 18px;
    z-index: 5;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 10px solid #1783db;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menu__side::-webkit-scrollbar {
    display: none;
}

.menu__side {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.name__page {
    padding: 30px 40px;
    margin-left: 2.4em;
    display: flex;
    align-items: center;
    text-align: center;
}

.options__menu {
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a {
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
}

.options__menu a:hover {
    transition: color 300ms;
    animation: reverse;
    color: #333333;
}

.options__menu .option {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4 {
    font-weight: 300;
    cursor: pointer;
}

a.selected {
    color: #333333;
}

.selected::before {
    content: "";
    width: 3px;
    height: 80%;
    background-color: #333333;
    position: absolute;
    top: 10%;
    left: -30px;
}


/* clases para javascript*/

.body_move {
    margin-left: 250px;
}

.menu__side_move {
    width: 250px;
}


/*media querys*/

@media screen and (max-width: 760px) {
    .body_move {
        margin-left: 0px;
    }
    .menu__side_move {
        width: 80px;
        left: -80px;
    }
}